<h1 mat-dialog-title>Student</h1>
<div>
  <form [formGroup]="data" class="fullSize">
    <mat-card class="fullWidth">
      <mat-card-subtitle>Basic Info</mat-card-subtitle>
      <strong>Name</strong>
      <div>
        <input matInput class="form-field fullWidth" formControlName="name" type="text" />
      </div>
      <strong>Is preply?</strong>
      <mat-select formControlName="isPreply">
        <mat-option *ngFor="let option of this.options" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
      <strong>Levels</strong>
      <mat-select formControlName="level">
        <mat-option *ngFor="let level of this.levels" [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
      <strong>numPaidClasses</strong>
      <mat-slider
        thumbLabel
        min="0"
        max="30"
        step="1"
        formControlName="numPaidClasses"
        style="width: 100%"
      >
      </mat-slider>
    </mat-card>
    <mat-card class="fullWidth vertical-margin">
      <mat-card-subtitle>Detail Info</mat-card-subtitle>
      <textarea matInput formControlName="hobbiesInfo" class="fullWidth"></textarea>
      <textarea matInput formControlName="nextClassInfo" class="fullWidth"></textarea>
      <textarea matInput formControlName="progressInfo" class="fullWidth"></textarea>
      <textarea matInput formControlName="objectivesInfo" class="fullWidth"></textarea>
    </mat-card>
  </form>
  <button mat-button [mat-dialog-close]="data" class="fullWidth">Update</button>
</div>
